
*{
  box-sizing: border-box;
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif , ;
  

  
}


/* orange game names in texts */
.nameslink{
  color: blue;
  transition: 0.6s;
}
.nameslink:hover{
  color: rgb(255, 42, 0);
}

#headding{
    style="font-family: 'Brush Script MT', cursive;"
    color: white:

}




/* the rounded logo */
#logoimage{
  width: 15%;
  border-radius: 50%;
}


/* the backround color of the pictue slide */
#id_themainslide_{
  background-color: black;
  
  
}

pre{
    font-size: 22px;
  color: white;

}

/* text color and size */
p{
  color: #303030;
  font-size: 22px;
  margin-left: 5%;
  margin-right: 5%;
}


/* the logo with the name (YC GAMES) */
#logonameimg{
  width: 40%;
}


/* navigation and footer colors and their other details  */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #ffffff;
}
nav ul li a:link, nav ul li a:visited {
  color: white;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
nav ul li {
 font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  flex: 1 1 50%;
}
nav ul li a { 	
  display: block; 	
  border: 1px solid; 
  padding: .5em 1em; 	
  border-radius: .5em; 
  margin: .25em; 
  } 


  /* header color and details  */
header {
  color: black;
  position: relative;
  background-size: cover; 
  text-align: center;
  height: 13em;
}


/* images */
img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 5px;  
    opacity: 1;
    backface-visibility: hidden;
    transition: .5s ease;
    background-color: black;
    
   
 }
 

  /* the buttons to move next and previous pictures */
  .previous {
    cursor: pointer;
    position: absolute;
    top: 1400px;
    width: auto;
    padding: 16px;
    margin-top: -22;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: rgba(0,0,0,0.4);
    
  }


  
  .next {
    cursor: pointer;
    position: absolute;
    top: 1400px;
    width: auto;
    padding: 16px;
    margin-top: -22;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
    background: rgba(0,0,0,0.4);
    right: 0px;
  }


/* the names below pictures */
  .names {
    color: #f2f2f2;
    font-size: 30px;
    padding: 0px 0px;
    position: relative;
    left: 25%;
    bottom: 0px;
    width: 50%;
    transition: 00.6s ease;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    
   
  }


  /* the numbers above pictures */
  .numbers {
    color: #f4efef;
    font-size: 25px;
    padding: 7px 11px;
    position: relative;
    text-align: center;
    top: 0;
    background: rgba(0,0,0,0.4);
    
    
  }


  /* the three dot below the pictures */
  .point {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 1px;
    bottom: 50px;
    background-color: #bbb;
    border-radius: 40%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }


/* hover of the dots below te slide  */
  .action, .point:hover {
    background-color: #717171;
    height: 16px;
    width: 16px;
  }


/* next and previous buttons hover  */
  .next:hover{
    background: rgba(0,0,0,0.8);
  }
  .previous:hover{
    background: rgba(0,0,0,0.8);
  }


  /* image hover  
  .images:hover{
    opacity: 0.5;
  }
  */


  /* the affect while changing pictures */
  .fadeeffect {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  @keyframes fade {
    from {opacity: .5} 
    to {opacity: 1}
  }


  /* for the smaller screens */
  @media only screen and (max-width: 940px) {
    .previous,.next,.names,.numbers {font-size: 13px }
    .previous,.next {top: 800px;}
    .point{height: 12px;
      width: 12px;}
      #firstgap ,#secondgap{display: none;}
      #logo{
        display: none;
      }
      #_sloganid{
        font-size: 25px;
      }
      p{
        font-size: 17px;
      }
}
@media screen and (min-width: 940px) {
  
  footer {
    grid-area: footer;
  }
  #logo { 	
    position: absolute; 	
    top: 90px; 	
    left: 50px;
  }
}
/* footer */
.social-icon{
  font-size: 50px;
  color: white;
  transition: 0.6s;
  

 
 
}
.social-icon:hover{
  color: gray;
  text-decoration: none;
  

}
address{
  color: #d9d9d9;
  text-align: center;
}

#sendmailid{ 
  font-size: 40px;
  margin-left: 50%;
  color: #ff8000;
}





