




*{
  box-sizing: border-box;
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif , 
}
/* the name of the games  */
h1{ 
    color: white;
    text-align: center;
    font-size: 70px;
        style="font-family: 'Brush Script MT', cursive;"

    transition: 0.6s;
}

.images{
    
    width:90%;
    padding-left:10%;

}
/* orange game names in texts */
.nameslink{
  color: #303a96;
  transition: 0.6s;
}
.nameslink:hover{
  color: rgb(255, 42, 0);
}

/* text color and size */
p{
  color: #303030;
  font-size: 22px;
  margin-left: 5%;
  margin-right: 5%;
  margin:0;
}


/* logo with the name (YC GAMES) an dhover  */
#logonameimg{
    width: 40%;
    border-radius: 5px;
    
    transition: 0.4s  
}
#logonameimg:hover{
    opacity: 0.6;
}



/* video div backround color  */
#_videodivid{
    background: black;
}



/* navigation and footer details  */
nav, footer {
    font-family: verdana, sans-serif;
    background-color: #ffffff;
  }
  nav ul li a:link, nav ul li a:visited {
    color: white;
  }
  nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: gray;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    padding-left:40%;
    padding-right:40%;
    
  }
  
  nav ul li {
   font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    flex: 1 1 50%;
  }
  nav ul li a { 	
    display: block; 	
    border: 1px solid; 
    padding: .5em 1em; 	
    border-radius: .5em; 
    margin: .25em; 
    
    } 

    /* header details  */
  header {
    color: black;
    position: relative;
    background-size: cover; 
    text-align: center;
    height: 13em;
  }


  /* changing video sizes on smaller screens  */
  /* the names of the games goes small  */
  @media only screen and (max-width: 940px) {
    #_videoid{
      height: 250px;
    }
    h1{
      font-size: 50px;
    }
    nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    padding-left:0%;
    padding-right:0%;
    
  }
  #_sloganid{
        font-size: 25px;
      }
      p{
        font-size: 17px;
      }
      }
      /* footer */
.social-icon{
  font-size: 50px;
  color: white;
  transition: 0.6s;
  

 
 
}
.social-icon:hover{
  color: gray;
  text-decoration: none;
  

}
address{
  color: #d9d9d9;
  text-align: center;
}